.titleLogin {
    color: #393c7a;
    text-align: center;
    font-weight: bold;
    font-size: 50px;
}

.auto-style1 {
    width: 56%;
    height: 97%;
    margin-left: 22%;
}

.texbox {
    margin-left: 20%;
    width: 50%;
}

.auto-style2 {
    width: 110px;
}

.auto-style4 {
    width: 209px;
    height: 20px;
    font-size: 30px;
}

.auto-style8 {
    height: 26px;
}

.auto-style9 {
    width: 100%;
    height: 124px;
}

.auto-style10 {
    width: 209px;
    font-size: 30px;
}

.auto-style11 {
    width: 75%;
    height: 142px;
}
